<div class="container">
<h1>Laptop List works!</h1>

<input type="text" [(ngModel)]="newLaptop" placeholder="Enter laptop model">
<button class="btn btn-primary" (click)="addLaptop()">Add Laptop</button>

<table>
  <thead>
  <tr>
    <th>Model</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let laptop of laptopLis; let i = index">
    <td>{{laptop.model}}</td>
    <td>
      <button class="btn btn-danger" (click)="deleteLaptop(i)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
</div>
